In [2]:
# Made to get info from Twitch chat log
# Run on csv from TwitchChatParser
import numpy as np
import pandas as pd
import nltk
import string

dirid="/Users/admin/Desktop/Thesis/hasan_logs/nicki/day1/"
docid="v1148677141"
csvname=dirid + docid + ".csv"

df = pd.read_csv(csvname)
df.index.names=['msg_num']

df.head(10)

            timecode        username                      message
msg_num
0        0:00:05:744  assaultkifIe47             BAITER WeirdDude
1        0:00:05:876    Thunderstrum                         PogU
2        0:00:05:917   keepitreal200                         PogU
3        0:00:06:320   MatthausGames                         PogU
4        0:00:06:360    smol_wolfboi  cock is nice oliver i agree
5        0:00:06:498     runniebunny                         PogU
6        0:00:06:547          maulds                       LETSGO
7        0:00:06:583           JECZ7                         PogU
8        0:00:06:712       femmejean          LETS GOOOOOOOOOOOOO
9        0:00:06:790   onion_person_                         KEKW

In [3]:
#arrange by time
df=df.set_index('timecode')

In [20]:
#tokenize df into subframe
dft=df['message'].str.split(r"[\s',-]+", expand=True).stack()\
    .to_frame().rename(columns={0:'msg_token'})

dft.index.names = ['timecode','num_in_msg']

dft.head(10)

                        msg_token
timecode    num_in_msg
0:00:05:744 0              BAITER
            1           WeirdDude
0:00:05:876 0                PogU
0:00:05:917 0                PogU
0:00:06:320 0                PogU
0:00:06:360 0                cock
            1                  is
            2                nice
            3              oliver
            4                   i

In [22]:
#merge dfs
dft=dft.merge(df,how='inner',on='timecode')

In [24]:
dft.head(10)

             msg_token        username                      message
timecode
0:00:05:744     BAITER  assaultkifIe47             BAITER WeirdDude
0:00:05:744  WeirdDude  assaultkifIe47             BAITER WeirdDude
0:00:05:876       PogU    Thunderstrum                         PogU
0:00:05:917       PogU   keepitreal200                         PogU
0:00:06:320       PogU   MatthausGames                         PogU
0:00:06:360       cock    smol_wolfboi  cock is nice oliver i agree
0:00:06:360         is    smol_wolfboi  cock is nice oliver i agree
0:00:06:360       nice    smol_wolfboi  cock is nice oliver i agree
0:00:06:360     oliver    smol_wolfboi  cock is nice oliver i agree
0:00:06:360          i    smol_wolfboi  cock is nice oliver i agree

In [25]:
#rearrange columns
dft=dft[["username","message","msg_token"]]

In [26]:
dft.head(10)

                   username                      message  msg_token
timecode
0:00:05:744  assaultkifIe47             BAITER WeirdDude     BAITER
0:00:05:744  assaultkifIe47             BAITER WeirdDude  WeirdDude
0:00:05:876    Thunderstrum                         PogU       PogU
0:00:05:917   keepitreal200                         PogU       PogU
0:00:06:320   MatthausGames                         PogU       PogU
0:00:06:360    smol_wolfboi  cock is nice oliver i agree       cock
0:00:06:360    smol_wolfboi  cock is nice oliver i agree         is
0:00:06:360    smol_wolfboi  cock is nice oliver i agree       nice
0:00:06:360    smol_wolfboi  cock is nice oliver i agree     oliver
0:00:06:360    smol_wolfboi  cock is nice oliver i agree          i

In [28]:
#get most freq terms
count = dft['msg_token'].value_counts()
print(count.head(25))

KEKW         22050
the          17270
a            12401
@HasanAbi    11747
is           10622
to           10352
I             9413
you           8316
OMEGALUL      8273
it            6728
PepeLa        6591
of            6063
monkaW        5973
that          5716
and           5675
for           5593
YEP           5445
THE           5164
in            5106
s             4916
GIGAHAS       4363
just          4243
@hasanabi     4223
he            4047
this          3914
Name: msg_token, dtype: int64

In [29]:
#save to csv 
dft.to_csv(dirid + docid + ".csv",index=False)