In [17]:
# Made to get info from Twitch chat log.

import numpy as np
import pandas as pd
import nltk
import string

dirid="/Users/admin/Desktop/Thesis/hasan_logs/nicki/day1/"
docid="v1148677141"
csvname=dirid + docid + ".csv"

df = pd.read_csv(csvname)

df.head(10)
# emotecount = df['message'].value_counts()
# print(emotecount.head(25))

      timecode        username                      message
0  0:00:05:744  assaultkifIe47             BAITER WeirdDude
1  0:00:05:876    Thunderstrum                         PogU
2  0:00:05:917   keepitreal200                         PogU
3  0:00:06:320   MatthausGames                         PogU
4  0:00:06:360    smol_wolfboi  cock is nice oliver i agree
5  0:00:06:498     runniebunny                         PogU
6  0:00:06:547          maulds                       LETSGO
7  0:00:06:583           JECZ7                         PogU
8  0:00:06:712       femmejean          LETS GOOOOOOOOOOOOO
9  0:00:06:790   onion_person_                         KEKW

In [18]:
#tokenize df
dft = df['message'].str.split(r"[\s',-]+", expand=True).stack()\
    .to_frame().rename(columns={0:'message_token'})

dft.head(30)

       message_token
0  0          BAITER
   1       WeirdDude
1  0            PogU
2  0            PogU
3  0            PogU
4  0            cock
   1              is
   2            nice
   3          oliver
   4               i
   5           agree
5  0            PogU
6  0          LETSGO
7  0            PogU
8  0            LETS
   1  GOOOOOOOOOOOOO
9  0            KEKW
10 0            PogU
11 0            PogU
12 0            PogU
13 0          LETSGO
   1          LETSGO
   2          LETSGO
   3          LETSGO
   4          LETSGO
14 0  widepeepoHappy
15 0            live
   1            PogU
16 0        AlienPls
17 0     HYPERPOGGER