In [4]:
# lil notebook to remove stopwords from the twitch chatlogs
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')
# need to remove different case stopwords
upperstop = list(map(lambda x: x.upper(), stop))
capstop = list(map(lambda x: x.capitalize(), stop))
stop = stop + upperstop + capstop

#read in csv from TwitchChatInfoGet.ipynb
dirid="/Users/admin/Desktop/Thesis/hasan_logs/nicki/day2/"
docid="v1150496968"
csvname=dirid + docid + ".csv"

df = pd.read_csv(csvname)
df.index.names=['msg_num']
df=df.set_index('timecode')

In [5]:
df = df[df['msg_token'].notnull()]

In [6]:
nonstop = df
#remove nltk stopwords
nonstop['msg_token'] = nonstop['msg_token'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
#replace empty token rows with NaNs
nonstop['msg_token'].replace('', np.nan, inplace=True)
#remove NaN rows
nonstop.dropna(subset=['msg_token'], inplace=True)

In [9]:
# nonstop.head(10)

# get most freq terms
count = nonstop['msg_token'].value_counts()
print(count.head(15))

KEKW         26562
@HasanAbi    13721
OMEGALUL      9864
hasL          7645
PepeLa        7407
GIGAHAS       7122
LETSGO        6733
YEP           5972
@hasanabi     4805
monkaW        3943
KEKWait       3462
PogU          3259
like          3026
HOGGERS       2893
PogO          2881
Name: msg_token, dtype: int64

In [10]:
nonstop.head(10)

                username                   message msg_token
timecode
0:00:00:023       HCTR17                  peepoHey  peepoHey
0:00:02:050       HCTR17                     !cock     !cock
0:00:02:118     yoDeRock                      PogU      PogU
0:00:02:134  bythonbicks                 PogU live      PogU
0:00:02:134  bythonbicks                 PogU live      live
0:00:02:170   Shorecross                       OMG       OMG
0:00:02:218     Fossabot  @HCTR17 rolls 10/12 GTTC   @HCTR17
0:00:02:218     Fossabot  @HCTR17 rolls 10/12 GTTC     rolls
0:00:02:218     Fossabot  @HCTR17 rolls 10/12 GTTC     10/12
0:00:02:218     Fossabot  @HCTR17 rolls 10/12 GTTC      GTTC

In [8]:
#export to csv
nonstop.to_csv(dirid + docid + "nostops.csv",index=True)